[submodule "vim/vim/bundle/nerdtree"]
	path = vim/vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/vim/bundle/vim-colors-solarized"]
	path = vim/vim/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized.git
[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "bash/dircolors/dircolors-solarized"]
	path = bash/dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "vim/vim/bundle/vim-airline"]
	path = vim/vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline
[submodule "vim/vim/bundle/vim-sensible"]
	path = vim/vim/bundle/vim-sensible
	url = https://github.com/tpope/vim-sensible
[submodule "vim/vim/bundle/vim-polyglot"]
	path = vim/vim/bundle/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
