[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "dircolors/dircolors-solarized"]
	path = dircolors/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
