[submodule "external/dircolors-solarized"]
	path = external/dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
[submodule "external/dotbot"]
	path = external/dotbot
	url = https://github.com/anishathalye/dotbot.git
