[Unit]
Description=Update Kodi video library
After=kodi.target
Requires=kodi.target
ConditionPathExists=/storage/nfs/video

[Service]
Type=oneshot
StandardOutput=journal
TimeoutStartSec=30min
ExecStart=/usr/bin/texturecache.py @config=/storage/.config/texturecache.cfg vscan
ExecStartPost=curl -fsS --retry 3 -o /dev/null https://hc-ping.com/71fde101-99d6-4281-9293-23d1b032adc9
