[Unit]
Description=clean up flexget database

[Service]
Type=oneshot
ExecStart=/home/kyleh/flexget/bin/flexget database cleanup
ExecStart=/home/kyleh/flexget/bin/flexget database vacuum

