[Unit]
Description=Periodic flexget task

[Timer]
OnCalendar=00/2:00
AccuracySec=10m
RandomizedDelaySec=10m
Persistent=true

[Install]
WantedBy=timers.target

