[Unit]
Description=Google Drive backup with rclone

[Service]
Type=oneshot
ExecStart=/usr/bin/rclone sync drive:/ "/srv/backup/xps13/Google Drive/" --exclude "/Google Photos/**" --quiet

